*{
    color: aliceblue;
    object-fit: scale-down;
    min-width: 500px;
}
body{
    background-color: black;
}
h1{
    color: aliceblue;

}
/**/
.about-info{
    display: flex;
    flex-wrap: wrap; /*Initially not included*/
    justify-items: center;
    align-items: center;
    min-width: 500px;
    justify-content: space-evenly;
    align-items: center;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    min-width: 500px;
    justify-content: space-evenly;

    margin-top: 150px;
    margin-bottom: 150px;
}
.intro-image{
    height: 500px;
    width: 500px;
    background-size: contain;
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-image: url('./images/jinntro.jpeg');
}
.words{
    text-align: center;
    color: aliceblue;
}
@media (max-width:900px){
}
@media(max-width: 690px){
    .intro-image{
        height: 300px;
        width: 300px;
    }
    .words{
        padding-top: 100px;
    }
}
    
/*------------------------------------------- ABOUT ---------------------------------------------------------------------------------------------------------------------*/
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-items: center;
}
.about-text{
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 100px;
}
.about-img{
    background-image: url('./images/about.jpeg');
    height: 300px;
    width: 300px;
    background-size: contain;
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
p{
    color: aliceblue;
}